@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap");

h1 {
  display: flex;
  color: #00ffd1;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

title {
position: absolute;
width: 160px;
height: 48px;
left: 640px;
top: 11px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #FFFFFF;
}

/* .form-group {
    display: flex;
    background-color: red;

} */

body {
  background-color: black;
  color: white;
  background-image: url("/static/images/backgroundimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
}



.hr {
  height: 0px;
  margin: 1.5rem;
  border-bottom: 1px solid #ffffff;
  font-size: 1px;
}

.daylight {
  background-color: white;
}

.nav {
  background-color: #000000;
  position: absolute;
  width: 100vw;
  height: 5vh;
  right: 0px;
  top: 0px;
  display: inline-flex;
  justify-content: flex-end;
  color: white;
  
  list-style-type: none;
}

form {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

/* .form-group {
    display: flex;
    justify-content: center;
} */

/* blog box */
.container {
  position: absolute;
  width: 50vw;
  height: 20vh;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
}

/* ul > li {
    color: blue;
} */


.nav-link {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
   
    font-family: "Inter", sans-serif;
    padding: 1.5rem;
    
}
a {
    text-decoration: none;
    color: white;
}

p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  padding: 1.5rem;
}

.form-group {
  background: red;
}

.button {
  text-decoration: none;
  font-size: 1.5rem;
  color: #00ffd1;
  padding: 20px 50px;
  border: 3px solid #00ffd1;
  position: relative;
}
.button:hover {
  text-decoration: none;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all 0.5s;
}
.button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}
.button:after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after {
  width: calc(100% + 30px);
  height: calc(100% + 27px);
}
